.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #676161;
}


.login-card {
  display: flex;
  width: 900px;
  height: 500px;
  background: #817a7a;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.763);
}

.login-image {
  flex: 1;
  background: #393535;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.829);
}

.login-form {
  flex: 1;
  padding: 60px;
  color: #fff;
}

.login-form h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.login-form p {
  color: #aaa;
  margin-bottom: 30px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #c2b9b9;
  border-radius: 8px;
  padding: 12px;
  margin: 15px 0 20px 0;
}

.input-group .icon {
  color: #777;
  margin-right: 10px;
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 16px;
  padding: inherit;
}

.login-btn {
  width: 100%;
  padding: 14px;
  background: #000;
  border: 1px solid #333;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #b0abab;
}

.signup-text {
  margin-top: 20px;
  text-align: center;
  color: #dbd3d3;
}

.signup-text span {
  color: #fff;
  cursor: pointer;
}

